In [5]:
import pandas as pd

In [7]:
data_path = 'dataset/nsfw_text.csv'
data = pd.read_csv(data_path)
data.head()

                                         Description   Category
0  Washington Correspondent New York Magazine Wri...  Non_Adult
1  Host of NPR s Pop Culture Happy Hour Author NY...  Non_Adult
2  Gay Men Ring Free gay tube for mature gay men ...      Adult
3  SeeMomSuck is packed with the best Amateur Ste...      Adult
4  xReview com provides in depth porn site review...      Adult

In [8]:
data['Category'].value_counts()

Category
Non_Adult    512
Adult        338
Name: count, dtype: int64

In [14]:
data.isna().sum()

Description    0
Category       0
dtype: int64

****

In [15]:
X = data['Description']
y = data['Category']

In [16]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=11)

In [22]:
y_val.value_counts(), y_train.value_counts()

(Category
 Non_Adult    109
 Adult         61
 Name: count, dtype: int64,
 Category
 Non_Adult    403
 Adult        277
 Name: count, dtype: int64)

In [24]:
data_train = pd.concat([X_train, y_train], axis=1)
data_test = pd.concat([X_val, y_val], axis=1)
data_train.head()

                                           Description   Category
399  Fucking and Cumming videos Hottest charming gu...      Adult
202  Watch black girls whose pussies fucked by supe...      Adult
654  Egypt s Only Daily Independent Newspaper in En...  Non_Adult
726  Cleveland s breaking news leader and home of t...  Non_Adult
191  Guardian Brexit correspondent Have a story we ...  Non_Adult

In [25]:
data_train.to_csv('dataset/train.csv')
data_test.to_csv('dataset/test.csv')